<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<a href="admin_view_registered_designers">manage designers</a>
	<a href="admin_view_design_categories">design categories</a>
	<a href="admin_view_registered_users">registeres users</a>
	<a href="admin_view_complaints_and_sent_reply">complaints</a>
	<a href="admin_view_top_rated_designers">top designers</a>
	<a href="admin_view_reported_designers">reports</a>
	
	<a href="/">log out</a> -->




<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bride and Groom</title>
    <!-- Meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" >
    <meta name="keywords" content="Amenity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-tags -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Bootstrap Css -->
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- //Font-awesome Css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style7.css" />
    <!--//menu slider -->
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
    <!--// Flexslider-CSS -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Required Css -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Cabin:450,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,450,600,700,800" rel="stylesheet">
    <!--//fonts-->

</head>

<body>
    <!--Slider-->
    <div class="banner-w3-agileits-slider" style="height: 300px;">
        <div class="overlay overlay-contentpush" >
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <nav >
                <ul>
                    <li>
                        <a href="admin_view_registered_designers">REGISTERED DESIGNERS</a>
                    </li>
                    <li>
                        <a href="admin_view_design_categories">DESIGN CATEGORIES</a>
                    </li>
                    <li>
                        <a href="admin_view_registered_users">REGISTERED USERS</a>
                    </li>
                    <li>
                        <a href="admin_view_complaints_and_sent_reply">COMPLAINTS</a>
                    </li>
                    <li>
                        <a href="admin_view_top_rated_designers">TOP DESIGNERS</a>
                    </li>
                    <li>
                        <a href="admin_view_reported_designers">REPORTED DESIGNERS</a>
                    </li>
                    <li>
                        <a href="/">LOG OUT</a>
                    </li>
                    <li>
                        <a href="admin_home">HOME</a>
                    </li>
                </ul>
            </nav>
        </div>
        <section class="header-w3layouts-top" >
            <button id="trigger-overlay" type="button">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <h2>
                <a href="/">
                    <span>Bride</span> and Groom</a>
            </h2>
        </section>
        <!--<div class="container">-->
         