{% include 'designer_header.html' %}



    <div class="callbacks_container" style="height: 700px;">
           <!--  <ul class="rslides" id="slider3" style="height: 700px;"> -->
                <li class="banner1"  style="  background-attachment: fixed; background-image: url(/static/images/b1.jpg);">>
                    <div class="container" style="height: 700px;">
                        <div class="slider-info-wthree" style="height: 700px;">
                            <h4 style="color:white;">WELCOME DESIGNER !</h4>
                            <p>have a great day !</p>
                            <!-- <a href="login" class="bnr-button">log in here</a> -->
                        </div>
                    </div>
                </li>

<!-- <div class="callbacks_container" style="height: 600px;">
            <ul class="rslides" id="slider3" style="height: 600px;">
                <li class="banner1" style="  background-attachment: fixed; background-image: url(/static/images/b1.jpg);">
                    <div class="container" style="height: 600px;">
                        <div class="slider-info-wthree" style="height: 600px;">
                        	 -->
                            <!-- <h4 style="color:white;">Easily plan your wedding!</h4>
                            <p>Everything you need to know about this bridal accessory!</p>
                            <a href="login" class="bnr-button">log in here</a> -->
                        </div>
                    </div>
                </li>
               

            </ul>

        </div>
        </div>
        <div class="clearfix"></div>
    </div>


{% include 'footer.html' %}