<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bride and Groom</title>
    <!-- Meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" >
    <meta name="keywords" content="Amenity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-tags -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Bootstrap Css -->
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- //Font-awesome Css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style7.css" />
    <!--//menu slider -->
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
    <!--// Flexslider-CSS -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Required Css -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Cabin:450,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,450,600,700,800" rel="stylesheet">
    <!--//fonts-->

</head>

<body>
    <!--Slider-->
    <div class="banner-w3-agileits-slider" style="height: 300px;">
        <div class="overlay overlay-contentpush" >
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <nav >
                <ul>
                    <li>
                        <a href="login">LOG IN</a>
                    </li>
                    <li>
                        <a href="designer_registration">REGISTRATION</a>
                    </li>
                    <!-- <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <section class="header-w3layouts-top" >
            <button id="trigger-overlay" type="button">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <h2>
                <a href="/">
                    <span>Bride</span> and Groom</a>
            </h2>
        </section>
        <!--<div class="container">-->
        