{% include 'home_header.html' %}

<style type="text/css">
	
	h1
	{
		color: white
	}
	th
	{
		color: white
	}
</style>

<div class="callbacks_container" style="height: 700px;">
            <ul class="rslides" id="slider3" style="height: 700px;">
                <li class="banner1" style="  background-attachment: fixed; background-image: url(/static/images/b3.jpg);">
                    <div class="container" style="height: 700px;">
                        <div class="slider-info-wthree" style="height: 700px;">
                            <form method="post">
	<center>
		<h1>LOG IN HERE</h1>
		<table class="table" style="width: 500px;">
			<tr>
				<th>username</th>
				<td><input type="text" required="" name="uname" class="form-control"></td>
			</tr>
			<tr>
				<th>password</th>
				<td><input type="password" required="" name="password" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="login" class="btn btn-warning"></td>
			</tr>
		</table>
	</center>
</form>
                        </div>
                    </div>
                </li>
               <!--  <li class="banner2" style="height: 450px;">
                    <div class="container" style="height: 450px;">
                        <div class="slider-info-wthree" style="height: 450px;">
                            <h4 style="color:white;">Dream weddings made simple....</h4>
                            <p>connect with the right vendors to plan your wedding!</p>
                            <a href="/login" class="bnr-button">log in here</a>
                        </div>
                    </div>
                </li>
                <li class="banner3" style="height: 450px;">
                    <div class="container" style="height: 450px;">
                        <div class="slider-info-wthree" style="height: 450px;">
                            <h4 style="color:white;">Everything you need in one place</h4>
                            <p>our store carry more than 1000 brands!</p>
                            <a href="designer_registration" class="bnr-button">Register here</a>
                        </div>
                    </div>
                </li> -->

            </ul>

        </div>
        <!--</div>-->
        <div class="clearfix" style="height: 450px;"></div>
    </div>



{% include 'footer.html' %}